body {


	background-color: #e0dad0;


}

 @keyframes underscore {
  0%   {opacity: 1;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}

.title {
	
	font-family:"Special Elite", system-ui;
	font-size: 80px;
	height: 200px;
	width: 80%;

	border-style: double;
	border-color: Black;
	border-width: 10px;
	
	border-radius: 20px;
	
}

.title-underscore {
	animation-name: underscore;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;


}

.centre {
	display: flex;
	justify-content: center;
	align-items: center;

}
